<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入jquery -->
    <script type="text/javascript" src="../js3/jquery-1.9.1.min.js"></script>
    <!-- 引入bootstrap的css、js -->
    <link rel="stylesheet" href="../js3/bootstrap3/css/bootstrap.css">
    <script type="text/javascript" src="../js3/bootstrap3/js/bootstrap.js"></script>
    <!-- 引入tree的js、css -->
    <link rel="stylesheet" href="../js3/bootstrap-treeview/bootstrap-treeview.min.css">
    <script type="text/javascript" src="../js3/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入选项卡的js、css -->
    <link rel="stylesheet" href="../js3/bootStrap-addTabs/bootstrap.addtabs.css">
    <script type="text/javascript" src="../js3/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
    <!-- 引入table的css、js -->
    <link rel="stylesheet" href="../js3/bootstrap-table/bootstrap-table.css">
    <script type="text/javascript" src="../js3/bootstrap-table/bootstrap-table.js"></script>
    <script type="text/javascript" src="../js3/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <!-- 引入删除提示框 -->
    <script type="text/javascript" src="../js3/bootbox/bootbox.min.js"></script>
    <!-- 引入时间的css、js -->
    <link rel="stylesheet" href="../js3/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <script  src="../js3/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script  src="../js3/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <!-- 引入文件上传的css、js -->
    <link rel="stylesheet" href="../js3/bootstrap-fileinput/css/fileinput.css">
    <script type="text/javascript" src="../js3/bootstrap-fileinput/js/fileinput.js"></script>
    <script type="text/javascript" src="../js3/bootstrap-fileinput/js/locales/zh.js"></script>

</head>
<body>

</body>
</html>